@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html,
body{
    width: 100%; height: 100%;
    margin: 0; padding:0;
    color:white;
    position: relative;
}


section{
    width: 100%;
    height: 100%;
    position: fixed; 
}
.portfolio-container{
    width: 100%; height: 100%; position:absolute; top:0; background: black;
}
.main-container{
    width: 100%; height: 100%; position:relative;
}
.main-title{
    width: 100%; height: 30%; position:relative; z-index: 1; z-index: 100;
    display: flex;  flex-direction: column; justify-content: center;
}
.main-title h1{
    margin:0 0 0 10%; font-family: 'Montserrat', sans-serif;
    font-weight: 700;font-size:9rem; text-transform: capitalize;color:#FF5D2C; 
}
.main-title p{
    margin: 0;  font-family: 'Noto Sans KR', sans-serif; margin:0 0 0 12%;
    font-weight: 300;font-size: 2rem; 
}
.work-container{
    width: 100%; height: 100%;  top:0;position: absolute; top:0;
}
.work-area{
    width: 100%; height: 100%; position:relative; 
}
.work-bg-section{
    position: absolute; width: 100%; height: 100%;
}
.bg-brack-area{
    position: absolute; width: 100%; height: 100%; background-color: rgba(0, 0, 0, 0.788);z-index: 2;
}
.bg-workImg{
    position: absolute; width: 100%; height: 100%;
}
.bg-workImg:first-of-type{
    background-image: url('../img/work/6sense-back.png');
}
.bg-workImg:nth-of-type(2){ 
    background-image: url('../img/work/jw-back.png');
    
}
.bg-workImg:nth-of-type(3){ 
    background-image: url('../img/work/momentrip-back.png');
   
}
.work-list-wrap{
    width: 100%; height: 70%; position: absolute;  bottom: 0;z-index: 2;
}
.work-list{
    width: 100%; height: 100%;  position: relative;
}
.work-title {
    width: 35%; height: 100%; position: absolute; right: 0; top:0;
    display: flex; flex-direction: column;
}
.work-title .work-title-name{
    width: 100%; height: 10%;
}
.work-title ul{
    width: 100%; height: 90%; margin: 0; padding: 0;  
}
.work-title ul li{
   list-style: none;  position: relative; display: flex;  width: 100%; height:  13%; 
}
.work-title ul li p {
   margin: none; margin: 0; 
   font-family: 'Montserrat', sans-serif;left:15%;z-index: 3;
   font-weight: 700;font-size:2rem; width: 90%; position: absolute; top:50%; transform: translateY(-50%);
}
.work-title ul li .img-wrap {
    height: 150px; width: auto;position: absolute; left:-10%;  top:50%; transform: translateY(-30%) rotate(-20deg);
}
.work-title ul li .img-wrap img{
  object-fit: cover;height: 100%;
}

.wonk-open-container{
    width: 100%; height: 100%; background: rgb(0, 0, 0);
    position: fixed; z-index: 5000; overflow-y: scroll;
    visibility: visible; top:0; 
    /* right:-100%; */
    transition: 0.5s ease-in-out; display: none;
}
.work-open-area{
    position: relative;  width: 100%; height: 2000px;
}
.work-open-wrap{
    width: 100%; height: 100%;position:absolute;
}
.work-title-container{
    position: relative; width: 100%;height: 15%;
}
.arrow-btn-area{
    width: 90%; height: 90%;top:50%; left:50%; transform: translate(-50%, -50%); position: absolute;
}
.work-arrow-btn{
    width: 100%; height: 100%; display: flex; 
}
.work-arrow-btn button{
    width: 10%; height: 100%; position: relative;border:none; outline: none; background: none;
}
.work-arrow-btn button div{
    width: 50px; height: 50px; border-bottom: solid 1px #FF5D2C; border-left: solid 1px #FF5D2C; position: absolute; top:50%; left:50%; transform: translate(-50%, -50%) rotate(45deg);
}
.work-arrow-btn button:last-of-type div{
    transform: translate(-50%, -50%) rotate(45deg) scale(-1);
}
.work-list-name{
    width: 80%; height: 100%; position: relative;
}
.work-list-name h3{
    position: absolute; top:50%; left:50%; transform: translate(-50%, -50%); margin: 0;
    font-family: 'Montserrat', sans-serif;text-align: center;
    font-weight: 700;font-size:5rem; width: 90%;color:#FF5D2C;
}
.work-sub-container{
    position: relative; width: 100%;height: 2%; 
}
.work-sub-content{
    width: 50%; height: 100%; position: absolute; display: flex;top:50%; left:50%; transform: translate(-50%, -50%);
}
.work-skills{
   width: 70%;height: 100%; position: relative; display: flex; align-items: center;
}
.work-skills span{
    border: solid 2px #FF5D2C; padding:5px 20px; margin-left: 5px; margin-right:5px;
    border-radius: 50px;  
}
.work-skills p {
    margin: 0; font-family: 'Montserrat', sans-serif;text-align: center;
    font-weight: 700;font-size:2rem; color:#FF5D2C;
}
.work-link-wrap{
    width: 30%;height: 100%; position: relative;
}
.work-link-wrap button{
    width: 100%;height: 100%; position: relative; border:none; outline: none; background: none;
}
.work-link-wrap button > span{
    border: solid 2px #FF5D2C; padding:5px 30px; position: absolute;top:50%; left:50%; transform: translate(-50%, -50%);
    border-radius: 50px;  
}
.work-link-wrap button span a{
    margin: 0; font-family: 'Montserrat', sans-serif;text-align: center; color:#FF5D2C;
    font-weight: 700;font-size:2rem; text-transform: uppercase; text-decoration: none;
}


.work-contents{
    width: 100%;height: 80%;position: relative;
}
.work-content-wrap{
    width: 70%; height: 90%; position: absolute;top:50%; left:50%; transform: translate(-50%, -50%);
    display: flex; flex-direction: column;
}
.work-wraps{
    width: 100%; height: 25%; position: relative;  display: flex; margin-bottom: 1%;
}
.work-img-wrap{
    width: 45%; position: relative;; height: 100%;
}
.work-img-wrap img{
   object-fit: cover; width: 100%; height: 100%;top:50%; left:50%; transform: translate(-50%, -50%);position: absolute;
}
.work-wraps .work-texts{
    width: 55%;position: relative; margin-left:5%;
    display: flex; justify-content: center; flex-direction: column;
}
.work-footer{
    height: 20px;
    position: absolute; bottom:5%; right: 7%;
    display: flex;
}
.work-footer #back-to-top{
    position: absolute; bottom:0;
    font-family: 'Montserrat', sans-serif; 
    font-weight: 700;font-size: 1rem; color: #FF5D2C; 
    transition: all .3s ease-in-out;
    display: inline-block;opacity: 1;text-decoration: none;
    border: solid 2px #FF5D2C; padding:5px 20px;border-radius: 50px;

}






.work-close-btn{
    width: 50px; height: 50px; position:absolute; top:2%; right:2%; z-index: 100;
}
.work-close-btn > button{
    width: 100%;height: 100%; position: relative; border:none; outline: none; background: none;cursor: pointer;
}
.work-close-btn > button > span{
  position: absolute; top:50%; left:50%; transform: translate(-50%, -50%) rotate(45deg); width: 80%; height: 1px; background: #FF5D2C;
}
.work-close-btn > button > span:first-of-type{
    transform: translate(-50%, -50%) rotate(-45deg);
}
article{
    width: 100%;height: 100%;position: absolute; background:rgba(0, 0, 0, 0.171); top:0; display: none; z-index: 200;
    
}
article:first-of-type{
    display: none; 
}

.about-container {
    width: 100%; height:100%; background:rgba(0, 0, 0, 0.171);  margin: 0;
    display: flex; align-items: center; justify-content: center; justify-items: center;
}
.about-area {
    width: 90%; height:90%; background-color: rgb(0, 0, 0);  position: relative; display: flex; flex-direction: column;
}
.about-close-btn{
    position: absolute; width: 70px; height: 70px; top:5%; left: 3%; cursor: pointer; z-index: 100;
}
.about-close-btn button{
    position: relative; width: inherit; height: inherit; border:none; outline: none; background: none;cursor: pointer;
}
.about-close-btn button span{
    position: absolute; top:50%; left:50%; transform: translate(-50%, -50%) rotate(45deg); width: 80%; height: 1px; background: #FF5D2C;
}
.about-close-btn button > span:first-of-type{
    transform: translate(-50%, -50%) rotate(-45deg);
}
.about-title{
        width: 100%; height: 20%; position: relative;
}
.about-title h2{
    position: absolute; top:50%; right: 3%; transform: translateY(-50%);
    font-family: 'Montserrat', sans-serif; 
    font-weight: 700;font-size: 7rem; color: #FF5D2C; margin: 0;
}
.about-contents{
    width: 90%; height: 80%; display: flex; margin-left:5% ;
}
.about-images{
    width: 45%;height: 100%; position: relative;
}
.svg-area {
    width: 100%; height: 100%; position: absolute}
.svg-area svg{
    top:50%; left:50%; transform: translate(-50%, -50%); position: absolute;   width: 100%; 
}
.svg-area svg:first-of-type{
    top:40%; left:40%; transform: translate(-50%, -50%); width: 450px;fill:white; 
}
.svg-area svg:nth-of-type(2){
    width: 30px;  top:10%; left: 10%; transform: translate(-50%, -50%);fill:#00FF89; 
}
.svg-area svg:nth-of-type(3){
    width: 50px; fill:#FFBA00; top:80%; right: 0%;transform: translate(0%, 0%);
}
.svg-area svg:last-of-type{
    width: 40px; fill:#FFBA00; top:20%; left: 80%;transform: translate(0%, 0%);
}
.about-images img{
    top:50%; left:50%; transform: translate(-50%, -70%); position: absolute; width: 300px;
}
.about-images img:nth-of-type(2){
    top:20%; left:25%; transform: translate(-50%, -50%) rotate(-10deg); position: absolute; width: 200px;
}
.about-images img:nth-of-type(3){
    top:60%; left:70%; transform: translate(-50%, -50%); position: absolute; width: 200px;
}
.about-texts{
    width: 55%;height: 100%; position: relative; display: flex; flex-direction: column;
}
.about-name, .about-hahTags{
    width: 100%; height: 25%; position: relative;
}
.about-name h3, .about-hahTags h3{
    font-family: 'Montserrat', sans-serif; margin: 0; font-weight: 700;font-size: 2rem; color: #FF5D2C; text-transform: uppercase;
}
.about-name p, .about-hahTags p{
    font-family: 'Noto Sans KR', sans-serif;font-weight: 100;font-size: 0.9rem;line-height: 1.5rem;
}

.about-utilitys{
    width: 90%;height: 50%; position: relative;display: flex; 
}
.utility-list {
    width: 60%;height: 100%;
}
.utility-list h3, .about-tmis h3{
    font-family: 'Montserrat', sans-serif; margin: 0; font-weight: 700;font-size: 2rem; color: #FF5D2C; text-transform: uppercase;
}
.about-tmis{
    width: 40%;height: 100%;
}

article:last-of-type{
    display: block; 
}
.contact-container{
    width: 100%; height:100%; background:rgba(0, 0, 0, 0.637);  margin: 0;
    display: flex; align-items: center; justify-content: center; justify-items: center;
}
.contact-area{
    width: 70%; height:50%; background-color: rgb(0, 0, 0);  position: relative; display: flex; flex-direction: column;
}
.contact-close-btn{
    position: absolute; width: 70px; height: 70px; top:5%; right: 3%; cursor: pointer; z-index: 100;
}
.contact-close-btn button{
    position: relative; width: inherit; height: inherit; border:none; outline: none; background: none;cursor: pointer;
}
.contact-close-btn button span{
    position: absolute; top:50%; left:50%; transform: translate(-50%, -50%) rotate(45deg); width: 80%; height: 1px; background: #FF5D2C;
}
.contact-close-btn button > span:first-of-type{
    transform: translate(-50%, -50%) rotate(-45deg);
}


.contact-title{
    width: 100%; height: 40%; position: relative;
}
.contact-title h2{
position: absolute; top:50%; left: 3%; transform: translateY(-50%);
font-family: 'Montserrat', sans-serif;  text-transform: uppercase;
font-weight: 700;font-size: 7rem; color: #FF5D2C; margin: 0;
}
.contact-content{
    width: 100%; height: 60%; position: relative; 
    
}
.contact-content ul{
    width: 80%; position: absolute; top:30%; left:50%; transform: translate(-50%, -50%); margin: 0; padding: 0;
    display: flex; justify-content: space-around; height: 30%;
}
.contact-content ul li{
 list-style: none;  height: 100%; display: flex; flex-direction: column;
}
.contact-content ul li h4{
    font-family: 'Montserrat', sans-serif; margin: 0; font-weight: 700;font-size: 2rem; color: #FF5D2C; text-transform: uppercase; height: 50%;
}
.contact-content ul li p{
    font-family: 'Montserrat', sans-serif;  font-weight: 300;font-size: 1.2rem; color: #FF5D2C; letter-spacing: 1px;
}
.contact-imoges{
    position: absolute; bottom: 40%; left:-10%; width: 100%;
}
.contact-imoges-wrap {
    position: relative;width: 100%;
}
.contact-imoges img{
    width: 250px; z-index: 100; position: absolute;
}
.contact-imoges svg{
    width: 50px; position: absolute;fill:#00FF89;  margin-top:0%; left: 2%; transform: rotate(-20deg);
}

footer{
    width: 100%; height: 5%; position: absolute; bottom:0; 
    border-top: solid 1px #FF5D2C;
}
.footer-wrap{
    position: relative; width: 100%; height: 100%; 
}
.footer-wrap p{
    position: absolute;transform: translate(-50%,-50%); top:50%; left:50%; margin: 0;
}