@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

header{
    margin:0;
    background-color:none;
    position: fixed;z-index: 6000;left: 0;top:0; height: 95%;
    display: flex; flex-direction: column; justify-content: space-between;
}
header.active{
 display: none;
}
.logo {
    width: 100px; height: 100px; position: relative;opacity: 1; visibility: visible;
}
.logo.active{
    opacity: 0; visibility:hidden; top:20%; position: relative;
}
.logo > a {
    position: absolute; top:50%; left:50%; transform: translate(-50%,-50%);
}
.logo > a > img{
    width: 70px; position: absolute; top:50%; left:50%; transform: translate(-50%,-50%);transition: 0.5s ease-in-out;
}

.pf-list{
    height: 10%;  position: absolute; bottom: 0; display: block;transition: 0.5s ease-in-out;
}
.pf-list.active{
    display: none;
}
.pf-list ul{
    position: relative;
    width: 100%;height: 100%;  margin:0 0 0 30%; padding: 0;display: flex; opacity: 1; visibility: visible; top:10%; transition: 0.5s ease-in-out;
}
.pf-list ul.active{
    opacity: 0; visibility:hidden; top:20%; position: relative;
}
.pf-list ul li{
    list-style: none; margin-right: 10%; position: relative;  width: 80%;
     display: inline; cursor: pointer; 
}
.pf-list ul li a{
    color:#FF5D2C;
    font-family: 'Montserrat', sans-serif;transition: 0.5s ease-in-out;
    font-weight: 700;font-size:1.5rem; text-transform: uppercase; text-decoration: none;
}