@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html,
body{
    width: 100%; height: 100%;
    margin: 0; padding:0;
    background-color: black;
    color:white;
}

section{
    width: 100%;
    height: 100%;
    position: relative;
}
section:nth-of-type(2){
    width: 100%;
    height: 30%;
    background-color: rgb(0, 0, 0);
    position: relative;
}
section:nth-of-type(3){
    width: 100%;
    height: 100%;
    position: relative;
    
}
section:nth-of-type(4){
    width: 100%;
    height: 100%;
    background-color: blue;
    position: relative;
}
.main-area{
    width: 100%; height: 100%;  
    position: absolute;
}
/* .main-area.main{
    background-image: url("../img/work/6sense-back.png");
    background-attachment : fixed;
    background-position:center;
    background-size:cover;
    background-repeat: no-repeat;

} */
/* .main-area .black-area{
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0); position: absolute;
} */
.main-area .main-title{
    width: 50%;height: 20%;  position: absolute; top:15%; left:7%;
    display: flex; align-items: center; 
}
.main-area .main-title h1{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;font-size: 9rem; color:#FF5D2C; 
} 
.main-area .main-title img{
    width: 70px; height: 70px; margin-right:5%; margin-left:5%; margin-top:3%;
} 
.main-area .sub-title{
    position: absolute; bottom: 2%; display: flex; width: 100%; height: 10%; align-items: center; justify-content: center; justify-items: center;
}
.main-area .sub-title p{
    font-family: 'Montserrat', sans-serif; font-size: 1.5rem; font-weight: 700; color:#FF5D2C; 
}
.main-area .sub-title span{
    border-bottom: solid 2px #FF5D2C; width: 350px; margin-right:2.5%; margin-left:2.5%;
}

/* work */
.work-area {
    width: 100%; height: 100%;  
    position: relative; 
    display: flex; flex-direction: column; 
} 

/* .work-area .work-container{
     height: 100vh;  
    position: absolute; top:10%; left: 7%; z-index: 300;
}  */
.work-area .work-title{
    width: 80%; height: 20%; margin-bottom:5%; position: absolute; z-index: 300;
    color:#FF5D2C; display: flex; align-items: center; justify-items: center;
    top:5%; left: 7%;
}

.work-area .work-title h1{
    font-family: 'Montserrat', sans-serif; display: inline; margin:0;
    font-weight: 700;font-size: 9rem;  
}
.work-area  .work-title span{
    border-right:solid 2px #FF5D2C; height: 50%; margin:0 5% 0 15%;
}


.work-area  .work-list{
    position: absolute;z-index: 300;
    width: 30%; top:25%;left: 10%;
}
.work-area  .work-list ul{
    font-family: 'Montserrat', sans-serif; padding:0;margin-bottom: 2%;
    font-weight: 700;font-size: 4rem; width: 100%; height: 100%; 
}

.work-area .work-list ul li{
    list-style: none; cursor: pointer; margin-bottom: 1%; letter-spacing: 3px; line-height: 90px;
}

.work-area .black-area{
    width: 100%; height: 100%; background-color: rgba(0, 0, 0, 0.645); position: absolute; z-index: 1; pointer-events: none;
}

.work-area .work-listImg{
    width: 100vw;height: 100vh;  position: relative; top:0; overflow-y: scroll; 
}
.work-area .work-listImg .bg-workImg{ 
    width: 100vw;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.work-area .work-listImg .bg-workImg:first-child{ 
    background-image: url('../img/work/6sense-back.png');
    position: sticky;
    top: 0;
}
.work-area .work-listImg .bg-workImg:nth-child(2){ 
    background-image: url('../img/work/jw-back.png');
    position: sticky;
    top: 0;
}
.work-area .work-listImg .bg-workImg:nth-child(3){ 
    background-image: url('../img/work/momentrip-back.png');
    position: sticky;
    top: 0;
}
.work-area .work-listImg .bg-workImg:nth-child(4){ 
    background-image: url('../img/work/spain-back.png');
    position: sticky;
    top: 0;
}
.work-area .work-listImg .bg-workImg:nth-child(5){ 
    background-image: url('../img/work/momentrip-back.png');
    position: sticky;
    top: 0;
}



.work-area .work-open{
    width: 100vw; height: 100vh; background: rgb(10, 61, 23);
    position: absolute; z-index: 3000; overflow-y: scroll;
}
.work-area .work-open .work-intro{
    width: 100%; height: 100%; 
    position: absolute; 
}

.work-area .work-open .work-intro .worktitle{
   width: 100%; height: 30%; position: absolute;
}






