@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html,
body{
    width: 100%; height: 100%;
    margin: 0; padding:0;
    background-color: black;
    color:white;
}

section{
    width: 100%;
    height: 100%;
    position: relative;
}
section:nth-of-type(2){
    width: 100%;
    height: 30%;
    background-color: rgb(0, 0, 0);
    position: relative;
}
section:nth-of-type(3){
    width: 100%;
    height: 100%;
    position: relative;
    
}
section:nth-of-type(4){
    width: 100%;
    height: 100%;
    background-color: blue;
    position: relative;
}
.main-area{
    width: 100%; height: 100%;  
    position: absolute;
}
/* .main-area.main{
    background-image: url("../img/work/6sense-back.png");
    background-attachment : fixed;
    background-position:center;
    background-size:cover;
    background-repeat: no-repeat;

} */
/* .main-area .black-area{
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0); position: absolute;
} */
.main-area .main-title{
    width: 50%;height: 20%;  position: absolute; top:15%; left:7%;
    display: flex; align-items: center; 
}
.main-area .main-title h1{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;font-size: 9rem; color:#FF5D2C; 
} 
.main-area .main-title img{
    width: 70px; height: 70px; margin-right:5%; margin-left:5%; margin-top:3%;
} 
.main-area .sub-title{
    position: absolute; bottom: 2%; display: flex; width: 100%; height: 10%; align-items: center; justify-content: center; justify-items: center;
}
.main-area .sub-title p{
    font-family: 'Montserrat', sans-serif; font-size: 1.5rem; font-weight: 700; color:#FF5D2C; 
}
.main-area .sub-title span{
    border-bottom: solid 2px #FF5D2C; width: 350px; margin-right:2.5%; margin-left:2.5%;
}

/* work */
.work-area {
    width: 100%; height: 100%;  
    position: relative; 
    display: flex; flex-direction: column; 
} 

/* .work-area .work-container{
     height: 100vh;  
    position: absolute; top:10%; left: 7%; z-index: 300;
}  */
.work-area .work-title{
    width: 80%; height: 20%; margin-bottom:5%; position: absolute; z-index: 300;
    color:#FF5D2C; display: flex; align-items: center; justify-items: center;
    top:5%; left: 7%;
}

.work-area .work-title h1{
    font-family: 'Montserrat', sans-serif; display: inline; margin:0;
    font-weight: 700;font-size: 9rem;  
}
.work-area  .work-title span{
    border-right:solid 2px #FF5D2C; height: 50%; margin:0 5% 0 15%;
}


.work-area  .work-list{
    position: absolute;z-index: 300;
    width: 45%; top:35%;left: 10%; 
}
.work-area  .work-list ul{
    margin-top:0;
    font-family: 'Montserrat', sans-serif; padding:0;margin-bottom: 2%;
    font-weight: 700;font-size: 4rem; width: 100%; height: 100%; 
}

.work-area .work-list ul li{
    display: flex; align-items: center;  
    list-style: none; cursor: pointer; margin-bottom: 3%; letter-spacing: 3px; 
}
.work-area .work-list ul li img{
    position:absolute;
    width: 150px; height: 150px;
   right:0%; top:00%;
} 
.work-area .work-list ul li:first-of-type img{
    position:absolute;
   width: 150px; height: 150px;
   right:0%; top:20%;
} 
.work-area .work-list ul li:nth-of-type(2) img{
    position:absolute;
    width: 150px; height: 150px;
   right:0%; top:40%;
} 
.work-area .work-list ul li:nth-of-type(3) img{
    position:absolute;
    width: 150px; height: 150px;
   right:0%; top:60%;
} 
.work-area .work-list ul li:nth-of-type(4) img{
    position:absolute;
    width: 150px; height: 150px;
   right:0%; bottom:0%;
} 

.work-area .black-area{
    width: 100%; height: 100%; background-color: rgba(0, 0, 0, 0.645); position: absolute; z-index: 3; pointer-events: none;
}

.work-area .work-listImg{
    width: 100vw;height: 100vh;  position: absolute; top:0;
}
.work-area .work-listImg .bg-workImg{ 
    width: 100vw;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
}
.work-area .work-listImg .bg-workImg.active{ 
    z-index: 2; 
    
}
.work-area .work-listImg .bg-workImg:first-child{ 
    background-image: url('../img/work/6sense-back.png');
}
.work-area .work-listImg .bg-workImg:nth-child(2){ 
    background-image: url('../img/work/jw-back.png');
    
}
.work-area .work-listImg .bg-workImg:nth-child(3){ 
    background-image: url('../img/work/momentrip-back.png');
   
}
.work-area .work-listImg .bg-workImg:nth-child(4){ 
    background-image: url('../img/work/spain-back.png');
   
}
.work-area .work-listImg .bg-workImg:nth-child(5){ 
    background-image: url('../img/work/momentrip-back.png');
    
}



.work-open {
    width: 100vw; height: 100vh; background: rgb(0, 0, 0);
    position: fixed; z-index: 300; overflow-y: scroll;
    visibility: visible; top:0; right:-100%;transition: 0.5s ease-in-out;
}
.work-open.active {
    width: 100vw; height: 100vh; transition: 0.5s ease-in-out; right:0;
}
.work-open .arrow-container {
    top:5%; display: flex; justify-content: center;
    width: 100%;height: 10%; position: absolute;  
}
.work-open .arrow-container .work-arrow{
    top:0; display: flex;  justify-content: space-between;
    width: 90%;height: 100%; position: absolute;  
}

.work-open .arrow-container .work-arrow .left-arrow {
   width: 5%; height: 100%; 
    position: absolute; z-index: 500; left: 5%;
}
.work-open .arrow-container .work-arrow .left-arrow div{
    border-bottom:solid 3px #FF5D2C; width: 50px;height: 50px; position: absolute; top:25%; 
    border-left:solid 3px #FF5D2C; transform: rotate(45deg); left: 25%;
}
.work-open .arrow-container .work-arrow .right-arrow {
    width: 5%; height: 100%; right: 5%;
     position: absolute; z-index: 500; 
 }
.work-open .arrow-container .work-arrow .right-arrow div{
    border-bottom:solid 3px #FF5D2C; width: 50px;height: 50px; position: absolute; top:25%; right: 25%;
    border-right:solid 3px #FF5D2C; transform: rotate(-45deg); 
}


.work-open .work-intro{
    width: 100%; height: 100%; 
    position: absolute; display: flex; 
    justify-content: center;align-items: center;justify-items: center;
    visibility: hidden;
    transition: ease 0.5s;
    opacity: 0;
}
.work-open .work-intro.active{
    visibility: visible;
   transition: ease 0.5s;
   opacity: 1;
}

.work-open .work-intro .worktitle{
   width: 100%; height: 10%; position: absolute; top:5%; 
}
.work-open .work-intro .worktitle .title-container{
    width: 100%;  height: 100%;  display: flex;justify-content: center;align-items: center;justify-items: center;
}
.work-open .work-intro .worktitle .title-container > h2{
    font-family: 'Montserrat', sans-serif; 
    font-weight: 700;font-size: 4rem; color: #FF5D2C;
}
.work-open .work-intro .worktitle .work-skill{
    width: 100%;  height: 100%;  display: flex; justify-content: center;align-items: center;justify-items: center;
}

.work-open .work-intro .worktitle .work-skill span{
      border: solid 2px #FF5D2C; padding:5px 20px; margin-left: 5px; margin-right:5px;
      border-radius: 50px;  
}

.work-open .work-intro .work-contents{
    width: 80%; height: 100%; position: absolute; top: 40%;
    display: flex;
}

.work-open .work-intro .work-exit{
    position: fixed; top:50%; left: 1%; transform: rotate(-90deg);
    font-family: 'Montserrat', sans-serif; 
    font-weight: 700;font-size: 2rem; color: #FF5D2C; 
    z-index:1000 ;  transition: ease-in-out .1s; opacity: 0;
}
.work-open .work-intro .work-exit.active{
    left: 2%;visibility: visible; transition: ease-in-out .7s; opacity: 1;
   color: #FF5D2C; 
}

.work-open .work-footer  {
    height: 20px;width: 100%;
    position: absolute; bottom:-30%;
    display: flex;
    justify-content: center;align-items: center;justify-items: center;
}

.work-open .work-footer #back-to-top{
    position: absolute; bottom:0;
    font-family: 'Montserrat', sans-serif; 
    font-weight: 700;font-size: 1rem; color: #FF5D2C; 
    transition: all .3s ease-in-out;
    display: inline-block;opacity: 1;text-decoration: none;
    border: solid 2px #FF5D2C; padding:5px 20px;border-radius: 50px;

}


.work-open .work-footer  #back-to-top:hover {
    background-color: #fff;

}
/* .work-area .work-open .work-footer #back-to-top.visible {
    opacity: 1;
} */









