@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html,
body{
    width: 100%; height: 100%;
    margin: 0; padding:0;
    background-color: black;
    color:white;
    scroll-behavior: smooth;
}

section{
    width: 100%;
    height: 100%;
    position: relative;
}
section:nth-of-type(2){
    width: 100%;
    height: 30%;
    background-color: rgb(0, 0, 0);
    position: relative;
}
section:nth-of-type(3){
    width: 100%;
    height: 100%;
    position: relative;
    
}
section:nth-of-type(4){
    width: 100%;
    height: 100%;
    position: relative;
    background-color: rgb(3, 94, 92);
}
.main-area{
    width: 100%; height: 100%;  
    position: absolute;
}

.main-area .main-title{
    width: 50%;height: 20%;  position: absolute; top:15%; left:7%;
    display: flex; align-items: center; 
}
.main-area .main-title h1{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;font-size: 9rem; color:#FF5D2C; 
} 
.main-area .main-title img{
    width: 100px; height: 100px; margin-right:5%; margin-left:5%; margin-top:3%;
    animation: rotate 5s infinite linear;

} 
.main-area .sub-title{
    position: absolute; bottom: 2%; display: flex; width: 100%; height: 10%; align-items: center; justify-content: center; justify-items: center;
}
.main-area .sub-title p{
    font-family: 'Montserrat', sans-serif; font-size: 1.5rem; font-weight: 700; color:#FF5D2C; 
}
.main-area .sub-title span{
    border-bottom: solid 2px #FF5D2C; width: 350px; margin-right:2.5%; margin-left:2.5%;
}

@keyframes rotate{
    from { transform: rotate(0deg); }
    from { transform: rotate(360deg); }
}
/* work */
.work-area {
    width: 100%; height: 100%;  
    position: relative; 
    display: flex; flex-direction: column; 
} 

.work-area .work-title{
    width: 80%; height: 20%; margin-bottom:5%; position: absolute; z-index: 300;
    color:#FF5D2C; display: flex; align-items: center; justify-items: center;
    top:10%; left: 7%;
}

.work-area .work-title h1{
    font-family: 'Montserrat', sans-serif; display: inline; margin:0;
    font-weight: 700;font-size: 8rem;  
}
.work-area  .work-title span{
    border-right:solid 2px #FF5D2C; height: 50%; margin:0 5% 0 5%;
}

.work-area .work-title p{
    font-family: 'Montserrat', sans-serif; display: inline; margin:0;
    font-weight: 200;font-size: 1rem;  text-align: justify;
}
.work-area  .workimoge img{
    width: 300px;position: absolute; bottom: 10%;z-index: 100;right: 5%;
}
.work-area  .workimoge .svg-area svg:first-of-type{
    width: 400px;position: absolute; bottom: 10%;z-index: 90;right: 5%;
    fill:#ffffff;
}
.work-area  .workimoge .svg-area svg:last-of-type{
    width: 70px;position: absolute; bottom: 35%;z-index: 90;right: 25%;
    fill:#00FF9A; animation: rotate 5s infinite linear;
}

.work-area  .work-list{
    position: absolute;z-index: 300;
    width: 45%; top:35%;left: 10%; 
}
.work-area  .work-list ul{
    margin-top:0;
    font-family: 'Montserrat', sans-serif; padding:0;margin-bottom: 2%;
    font-weight: 700;font-size: 4rem; width: 100%; height: 100%; 
}

.work-area .work-list ul li{
    align-items: center; 
    display: inline-flex;   
    list-style: none; cursor: pointer; margin-bottom: 3%; letter-spacing: 3px; 
}
.work-area .work-list ul li img{
    position:absolute;
    transform: rotate(20deg);
    width: 200px; height: 200px;
    right:5%;
    pointer-events: none;
    visibility: hidden;
    opacity: 0;
} 
.work-area .work-list ul li img.active{
    width: 200px; height: 200px;
    right:2%;opacity: 1;
    visibility: visible;
   pointer-events: none;
   transition: ease .5s;
}  
.work-area .black-area{
    width: 100%; height: 100%; background-color: rgba(0, 0, 0, 0.645); position: absolute; z-index: 3; pointer-events: none;
}

.work-area .work-listImg{
    width: 100%;height: 100vh;  position: absolute; top:0;
}
.work-area .work-listImg .bg-workImg{ 
    width: 100%;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    transition: ease-in-out 0.3s;
    opacity: 0;

}
.work-area .work-listImg .bg-workImg.active{ 
    z-index: 2; 
    transition: ease-in-out 0.3s;
    opacity: 1;
    
}
.work-area .work-listImg .bg-workImg:first-child{ 
    background-image: url('../img/work/6sense-back.png');
}
.work-area .work-listImg .bg-workImg:nth-child(2){ 
    background-image: url('../img/work/jw-back.png');
    
}
.work-area .work-listImg .bg-workImg:nth-child(3){ 
    background-image: url('../img/work/momentrip-back.png');
   
}
.work-area .work-listImg .bg-workImg:nth-child(4){ 
    background-image: url('../img/work/spain-back.png');
   
}
.work-area .work-listImg .bg-workImg:nth-child(5){ 
    background-image: url('../img/work/momentrip-back.png');
    
}



.work-open {
    width: 100vw; height: 100vh; background: rgb(0, 0, 0);
    position: fixed; z-index: 300; overflow-y: scroll;
    visibility: visible; top:0; right:-100%;transition: 0.5s ease-in-out;
}
.work-open.active {
    width: 100vw; height: 100vh; transition: 0.5s ease-in-out; right:0;
}
.work-open .arrow-container {
    top:5%; display: flex; justify-content: center;
    width: 100%;height: 10%; position: absolute;  
}
.work-open .arrow-container .work-arrow{
    top:0; display: flex;  justify-content: space-between;
    width: 90%;height: 100%; position: absolute;  
}

.work-open .arrow-container .work-arrow .left-arrow {
    width: 5%; height: 100%; 
    position: absolute; z-index: 500; left: 5%;
}
.work-open .arrow-container .work-arrow .left-arrow div{
    border-bottom:solid 3px #FF5D2C; width: 50px;height: 50px; position: absolute; top:25%; 
    border-left:solid 3px #FF5D2C; transform: rotate(45deg); left: 25%;
}
.work-open .arrow-container .work-arrow .right-arrow {
    width: 5%; height: 100%; right: 5%;
     position: absolute; z-index: 500; 
 }
.work-open .arrow-container .work-arrow .right-arrow div{
    border-bottom:solid 3px #FF5D2C; width: 50px;height: 50px; position: absolute; top:25%; right: 25%;
    border-right:solid 3px #FF5D2C; transform: rotate(-45deg); 
}


.work-open .work-intro{
    width: 100%; height: 100%; 
    position: absolute; display: flex; 
    justify-content: center;align-items: center;justify-items: center;
    visibility: hidden;
    transition: ease 0.5s;
    opacity: 0;
}
.work-open .work-intro.active{
    visibility: visible;
   transition: ease 0.5s;
   opacity: 1;
}

.work-open .work-intro .worktitle{
   width: 100%; height: 10%; position: absolute; top:5%; 
}
.work-open .work-intro .worktitle .title-container{
    width: 100%;  height: 100%;  display: flex;justify-content: center;align-items: center;justify-items: center;
}
.work-open .work-intro .worktitle .title-container > h2{
    font-family: 'Montserrat', sans-serif; 
    font-weight: 700;font-size: 4rem; color: #FF5D2C;
}
.work-open .work-intro .worktitle .work-skill{
    width: 100%;  height: 100%;  display: flex; justify-content: center;align-items: center;justify-items: center;
}

.work-open .work-intro .worktitle .work-skill span{
      border: solid 2px #FF5D2C; padding:5px 20px; margin-left: 5px; margin-right:5px;
      border-radius: 50px;  
}

.work-open .work-intro .work-contents{
    width: 80%; height: 100%; position: absolute; top: 40%;
    display: flex;
}

.work-open .work-exit {
    width: 10%; background-color: none;
    position: fixed; top:50%; left: 0%; transform: rotate(-90deg) translateX(50%);
    z-index:1000;  transition: ease-in-out .1s; opacity: 0;
}
.work-open .work-exit > p{
    font-family: 'Montserrat', sans-serif;  text-align: center;
    font-weight: 700;font-size: 2rem; color: #FF5D2C; margin:0;
}
.work-open .work-exit.active{
    left: 1%;;visibility: visible; transition: ease-in-out .7s; opacity: 1;
   color: #FF5D2C; 
}

.work-open .work-footer  {
    height: 20px;width: 100%;
    position: absolute; bottom:-30%;
    display: flex;
    justify-content: center;align-items: center;justify-items: center;
}

.work-open .work-footer #back-to-top{
    position: absolute; bottom:0;
    font-family: 'Montserrat', sans-serif; 
    font-weight: 700;font-size: 1rem; color: #FF5D2C; 
    transition: all .3s ease-in-out;
    display: inline-block;opacity: 1;text-decoration: none;
    border: solid 2px #FF5D2C; padding:5px 20px;border-radius: 50px;

}


.work-open .work-footer  #back-to-top:hover {
    background-color: #fff;

}



/* about */
.about-area{
    width: 100%; height: 100%;  
    position: relative; 
    display: flex; flex-direction: column; align-items: center;
    justify-items: center; 
}
.about-area .about-title{
    width: 80%; height: 20%; margin-bottom:5%; position: absolute; z-index: 300;
    color:#FF5D2C; display: flex; align-items: center; justify-items: center;
    top:10%; right: 0%;
}
.about-area .about-title h1{
    font-family: 'Montserrat', sans-serif; display: inline; margin:0;
    font-weight: 700;font-size: 8rem;  
}
.about-area .about-container{
    width: 85%; height: 65%; display: flex; 
    position: absolute; bottom:5%; 
}

.about-area .about-container .aboutImoge{
    width: 35%; height: 100%; position: relative;
    display: flex; justify-content: center; align-items: center; justify-items: center;
}
.about-area .about-container .aboutImoge  img{
    width: 300px; position: absolute; z-index: 500; right: 10%; transform: rotate(-10deg);
}
.about-area .about-container .aboutImoge  .svg-area{
     width: 100%; height: 100%; display: flex; justify-content: center; align-items: center; justify-items: center;
}
.about-area .about-container .aboutImoge  .svg-area svg{
   position: absolute;
}
.about-area .about-container .aboutImoge  .svg-area svg:first-of-type{
    width: 500px; fill:white; top:5%; left: -10%; transform: rotate(-10deg);
 }
.about-area .about-container .aboutImoge  .svg-area svg:nth-of-type(2){
    width: 30px; fill:#FFBA00; top:10%; left: 10%; animation: rotate 3s infinite linear;
}
.about-area .about-container .aboutImoge  .svg-area svg:nth-of-type(3){
    width: 80px; fill:#00FF89; top:15%; right: 10%;animation: rotate 5s infinite linear;
}
.about-area .about-container .aboutImoge  .svg-area svg:last-of-type{
    width: 50px; fill:#FFF500; bottom:10%; left: 25%;animation: rotate 5s infinite linear;
}


.about-area .about-container .aboutContent{
    width: 65%; height: 100%; background-color: rgb(255, 161, 20);
    display: flex; flex-direction: column; position: relative;
}
.about-area .about-container .aboutContent .aboutText{
    padding:5%;width: 90%; height: 40%; position: absolute;
}
.about-area .about-container .aboutContent .aboutText div {
    font-family: 'Montserrat', sans-serif; display: inline; margin-bottom:2%;
    font-weight: 700;font-size: 2rem;  
}
.about-area .about-container .aboutContent .aboutText p {
    font-family: 'Noto Sans KR', sans-serif; display: inline-block;margin-bottom:2%;
    font-weight: 300;font-size: 1rem;  text-align: justify;
}








